---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Not found" description="This page was not found">
  <div class="flex place-items-center flex-col gap-4">
    <h1 class="font-[Felipa] text-8xl font-bold">404 Not found</h1>
    <p>
      Diese Seite Existiert nicht. <a href="/" class="underline"
        >Zurück zur Homepage</a
      >
    </p>
  </div>
</Layout>
